[submodule "tenstream.wiki"]
	path = tenstream.wiki
	url = git@github.com:tenstream/tenstream.wiki.git
[submodule "pfunit"]
	path = external/pfunit
	url = https://gitlab.com/jakubfabian/ts_pfunit.git
